@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {

    --lime: hsl(61, 70%, 52%);
    --limeLight: hsl(61, 70%, 76%);
    --red: hsl(4, 69%, 50%);
    --white: hsl(0, 0%, 100%);
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);

    --fw-bold: 700;
    --fw-normal: 500;

    --bs-border-radius: 0.25rem;
    --bs-border-radius-xxl: 1.5rem;
}

.border-lime {
    --bs-border-color: var(--lime)
}

.bg-lime {
    background-color: var(--lime);
}

.color-lime {
    color: var(--lime)
}

.bg-red {
    background-color: var(--red);
}

.white {
    background-color: var(--white);
}

.bg-slate-100 {
    background-color: var(--slate-100);
}

.bg-slate-300 {
    background-color: var(--slate-300);
}

.color-slate-300 {
    color: var(--slate-300)
}

.bg-slate-500 {
    background-color: var(--slate-500);
}

.bg-slate-700 {
    background-color: var(--slate-700);
}

.color-slate-700 {
    color: var(--slate-700)
}

.bg-slate-900 {
    background-color: var(--slate-900);
}

.color-slate-900 {
    color: var(--slate-900);
}

.p-4 {
    padding: 2rem !important;
}

.p-5 {
    padding: 2.5rem !important;
}

.gap-4 {
    gap: 2rem !important;
}

.gap-5 {
    gap: 2.5rem !important;
}

.mb-5 {
    margin-bottom: 2.5rem !important;
}

body {
    font-family: 'Plus Jakarta Sans';
    background-color: var(--slate-100);
}

p {
    margin-bottom: 0;
}

h1,
h2 {
    font-weight: var(--fw-bold);
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 1rem;
}

label,
.input-group-text {
    color: var(--slate-700)
}

.btn.bg-lime:hover {
    background-color: var(--limeLight);
}

/* .results-completed {
    display: none
} */

.container-sm {
    max-width: 1008px;
}

div.error {
    color: var(--red);
    font-size: 14px;
}

input.error {
    border: 1px solid var(--red)
}

.repayment-amount {
    font-size: 56px;
    line-height: 125%;
}

.total-repayment {
    font-size: 24px;
    line-height: 125%;
}